.div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
}

.createInput {
  border-radius: 5px;
  border: #fbce2e;
  height: 3rem;
  width: 90%;
  margin-top: 1rem;
  font-size: medium;
  font-weight: bold;
}

.createButton {
  border-radius: 5px;
  color: white;
  background-color: #181a1e;
  margin: 0 0 1rem 0;
  height: 3rem;
  width: 25.5rem;
  font-size: 1.6rem;
  font-weight: bolder;
  cursor: pointer;
}
