.priceItem {
  display: flex;
  flex-direction: column;
  background-color: #fbce2e;
  border-radius: 5px;
  padding-right: 1rem;
  align-items: center;
  gap: 1rem;
}

.priceItemGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.priceItemButton {
  border-radius: 5px;
  color: white;
  background-color: #181a1e;
  height: 2.5rem;
  width: 50%;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
