.search {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  font-weight: bold;
  min-width: 75%;
  height: 100%;
}

.searchElement {
  border: 0;
  border-radius: 0 0 5px 5px;
  padding: 1rem 1.5rem 1.5rem 1rem;
  background-color: #fbce2e;
  height: 10%;
}

.label {
  font-size: 1.6rem;
  cursor: pointer;
  margin: 0.5rem;
}

.searchItem {
  border-radius: 5px;
  border: #fbce2e;
  height: 3rem;
  width: 85%;
  margin-top: 1rem;
  font-size: medium;
  font-weight: bold;
}

.listItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  overflow: hidden;
  overflow-y: auto;
  height: 64rem;
}

.item {
  background-color: #fbce2e;
  border: 0;
  height: min-content;
  border-radius: 5px;
  align-content: center;
}
